html, body {
    height: 100%;
}

.aladin-zoomControl {
    top: 80% !important;
}

.aladin {
    position: absolute;
    width: 100%;
    height: 85vh;
}

.twentytwenty-handle::before {
    background: rgba(255, 255, 255, 0.3) !important;
}

.twentytwenty-handle::after {
    background: rgba(255, 255, 255, 0.3) !important;
}

#al2 .aladin-layersControl-container {
    left: unset;
    right: 4px;
}

#al2 .aladin-box {
    left: unset;
    right: 4px;
}
